@splashColor        : #eee;
@darkSplashColor    : darken(@splashColor, 80%);

@successColor       : rgb(152, 218, 121);
@errorColor         : rgb(250, 115, 115);
@warnColor          : rgb(250, 224, 87);

@borderRadius       : 0;
