body {
    font-family: sans-serif;    
}
.header {
     min-height: 80px;
     margin: 0;
     padding: 50px 20px 30px;
     text-align: center;
     border-bottom:1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size:3em;
    }
     .header h2 {
         font-weight:300;
         margin:0;
     }


.content {
    margin: 0 auto;
    width: 90%;
    margin-bottom:50px;
}

    .content .primary-button {
        color: rgb(34, 121, 48);
        background: rgb(150, 224, 136);
        font-size: 130%;
        display: block;
        width: 50%;
        margin: 0 auto;

    }


/* NAVIGATION HEADER */
#headerMenu {
    background: #111;
    color: #fff;
    border-bottom: none;
}

    #headerMenu a:hover {
        background: #222;
        border-color: #222;
    }
    #headerMenu a {
        color: #fff;
        text-shadow: none;
    }

    #headerMenu .yui3-menu-active {
        background: #222;
    }


@media (max-width: 767px) {
    #headerMenu {
        position: relative;
    }
    #headerMenu .yui3-menu-heading {
        text-align: center;
        display: block;
    }
    #headerMenu ul {
        display: block;
        text-align: center;
    }
    #headerMenu a {
        font-size:80%;
    }
}
